.movie-title-card,
.popup .info {
  background: linear-gradient(var(--white-a9), var(--white-a11));
}

.dark .movie-title-card,
.dark .popup .info {
  background: linear-gradient(var(--black-a7), var(--black-a9));
}

.movie-card {
  overflow: hidden;

  .popup {
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-6);
    opacity: 0;
  }
}

.movie-card:hover {
  overflow: visible;

  .popup {
    transition-duration: 200ms;
    height: 125%;
    opacity: 1;
  }
}
